.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0; }

.image-wrapper:hover .overlay {
  opacity: 1; }

.gallerySearch {
  width: 280px;
  height: 25px;
  border: 2px solid gainsboro;
  border-radius: 7px;
  margin-top: 10px; }

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px; }

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  owerflow: auto;
  flex-wrap: wrap; }

.text {
  color: white;
  font-size: 2vw;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.photo-props-container {
  margin-bottom: 1em; }

.photo-props {
  margin: 0 1em; }

.photo-props .icon {
  margin-right: 0.5em;
  position: relative;
  top: 4px; }

.heading {
  font-family: Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #1a1a1a; }

.image-wrapper {
  position: relative; }

.gallery {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px; }

.gallery .image-wrapper img {
  width: 100% !important;
  height: auto !important;
  z-index: 1;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.gallery .image-wrapper:hover img {
  transform: scale(1.01);
  z-index: 100; }

.loader {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px; }

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff #ccc #fff #ccc;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; }
  .text {
    font-size: 3vw; } }

@media (max-width: 400px) {
  .gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; }
  .text {
    font-size: 6vw; } }
